@page
@model IndexModel
@{
    ViewData["Title"] = "Upload File";
}

<div class="text-center">
    <h1>Upload File</h1>
</div>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <button type="submit" style="">Upload</button>
</form>